{% extends "base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    
<div class="container bg-light shadow-md p-5 form-layout">

    <div class="text-center">

        <h2>Create Record</h2>

        <h6> Start Adding Essential Information </h6>

    </div>

    <hr>
    <br>

    <form action="" method="post">

        {% csrf_token %}

        {{ form.firstname|as_crispy_field }}

        <br>
        {{ form.lastname|as_crispy_field }}

        <br>
        {{ form.email|as_crispy_field }}

        <br>
        {{ form.phone|as_crispy_field }}

        <br>
        {{ form.address|as_crispy_field }}

        <br>
        {{ form.city|as_crispy_field }}

        <br>
        {{ form.country|as_crispy_field }}

        <br>

        <button type="submit" class="btn btn-primary p-3">
            
            Create Record &nbsp; 
            
            <i class="fa fa-check" aria-hidden="true"></i>

        </button>
        
        <a href="{% url "dashboard" %}" class="btn btn-secondary p-3">
            
            Return &nbsp; 
            
            <i class="fa fa-arrow-left" aria-hidden="true"></i>

        </a>

    </form>
</div>
    <br>











{% endblock  %}