{% extends "base/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    
<div class="container bg-light shadow-md p-5 form-layout">

    <div class="text-center">

        <h2>Update Record</h2>

    </div>

    <hr>
    <br>

    <form method="post">

        {% csrf_token %}

        
        {{ form.firstname|as_crispy_field }}

        <br>
        {{ form.lastname|as_crispy_field }}

        <br>
        {{ form.email|as_crispy_field }}

        <br>
        {{ form.phone|as_crispy_field }}

        <br>
        {{ form.address|as_crispy_field }}

        <br>
        {{ form.city|as_crispy_field }}

        <br>
        {{ form.country|as_crispy_field }}

        <br>

        <button type="submit" class="btn btn-info">Update Record

            &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        &nbsp; 
        <a href="{% url 'record' record.id %}" class="btn btn-secondary">
            
            Return &nbsp; 
            
            <i class="fa fa-arrow-left" aria-hidden="true"></i>

        </a>

    </form>
</div>
    <br>

{% endblock  %}